/* From general to specific */

/* Set box-sizing to border-box to be more sensible (opinion).
Also set all padding and margins to 0, it can be added back to individual elements where needed */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Header and navbar */
header {
    height: 95px;
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    text-align: center;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.7);
    background-color: #8B7863;
}

h1 {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    color: #115511;
    background-color: rgba(240, 240, 240, 0.7);
}

nav {
    background-color: rgba(240, 240, 240, 0.7);
}

nav ul {
    list-style-type: none;
    width: 30%;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav a {
    color: #000000;
    padding: 10px 10px;
}

nav a:hover {
    background-color: rgba(10, 10, 10, 0.9);
    color: #efefef;
}

nav a:active {
    background-color: rgba(100, 100, 100, 0.7);
    box-shadow: inset;
}


/* Main content */
main {
    margin-top: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Styles for all larger text items */
.main-text {
    margin: 20px auto;
    max-width: 900px;
    background-color: white;
    /* right, down, blur, spread, color DELETE BEFORE SUBMIT */
    box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.7);
}

h2, h3 {
    margin: auto 10px;
}

p {
    color: #115511;
    margin: 0.7rem;
    padding: 0.1rem;
}

#hero {
    /* Photo by Archie Binamira: https://www.pexels.com/photo/red-ceramic-mug-on-red-saucer-1187317/ */
    width: 100%;
    height: 20vh;
    background: url("../images/red-coffee-cup-on-table2.jpg") no-repeat center center/cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

/* Footer */
footer {
    align-self: flex-end;
    justify-self: end;
    min-height: 30px;
    width: 100%;
    background-color: #000000;
}

footer>ul {
    font-size: large;
    display: flex;
    justify-content: space-around;
    color: white;
    list-style-type: none;
    font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', 'Arial';
}

footer i {
    font-size: 150%;
}

/* Index page */

#introduction-text {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    flex-grow: 2;
}

/* Reviews page */

/* About page */

#about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Media Queries */
@media screen and (max-width:768px) {

    /* Hide connect text for smaller screens, icons will speak for themselves */
    #connect-text {
        display: none;
    }
}