body {
    background-color: #efefef;
}

header {
    width: 100%;
    position: fixed;
    z-index: 10;
}

nav {
    width: 100%;
}

h1 {
    color: #115511;
}

h2 {
    justify-self: center;
}

main {
    flex: 1 0 auto;
    margin-top: 50px;
}

#introduction-text {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

p {
    color: #115511;
}